@font-face {
    font-family: GlacialIndifference;
    src: url(../fonts/GlacialIndifference-Regular.woff);
}
@font-face {
    font-family: Kollektif;
    src: url(../fonts/Kollektif.woff);
}
@font-face {
    font-family: leaguespartan;
    src: url(../fonts/leaguespartan-bold.woff);
}
@font-face {
    font-family: Schoolbell;
    src: url(../fonts/Schoolbell-webfont.woff);
}
body {
    font-family: GlacialIndifference;
    font-size: 16px;
    background: #efefef;
}
.container-width {
    max-width: 1024px;
    margin: auto;
}
.main-container {
    max-width: 1366px;
    margin: auto;
    background: #fff;
}
.logo {
    width: 125px;
    height: 30px;
}
.clearfix {
    clear: both;
}
.navbar-link {
    color: #000;
    padding: 0 15px;
    &:hover {
        color: #000;
    }
}
.header-wrapper {
    padding-top: 30px;
}
header {
    background: #fff;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    padding: 0 15px;
}
.main-heading {
    font-family: leaguespartan;
    font-size: 22px;
}
.row {
    margin: 0;
}
.title {
    font-family: Schoolbell;
    animation: animate 1s linear;
}

@keyframes animate {
    0% {
        transform: rotate(5deg);
    }
    25% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.elearn-title {
    font-size: 24px;
}
.sec-heading {
    font-size: 18px;
    font-family: leaguespartan;
}
.dotted-border {
    border-right: 3px dashed #000;
}
.did-u-know-section {
    background: #536c4c;
    color: #daaea7;
    padding: 30px;
    margin-top: 40px;
    min-height: 320px;
    display: flex;
    h4 {
        font-size: 35px;
    }
}
.owl-nav {
    display: none;
}
.owl-slider:hover {
    .owl-nav {
        display: block;
    }
}
.view-course {
    min-height: 550px;
    background: url(../images/learn-bg.png) no-repeat;
    background-size: cover;
    display: flex;
    .tablet {
        position: relative;
        background: url(../images/tablet.png) no-repeat;
        min-height: 350px;
        background-size: contain;
        width: 430px;
        margin: auto;
        a {
            color: #000;
            text-decoration: underline;
        }
    }
    .course-wrapper {
        min-height: 60px;
        margin: auto;
    }
}
.padding-y {
    padding-top: 40px;
}
footer {
    max-width: 1366px;
    margin: auto;
    .footer-wrapper {
        background: #fff;
        border: 6px solid #000;
        a {
            color: #000;
            &:hover {
                color: #000;
            }
        }
        .footer-link {
            font-family: leaguespartan;
            font-size: 18px;
        }
    }
}
.input-box {
    max-width: 150px;
}
.terms-section {
    padding: 0 15px;
    border-right: 1px solid #000;
    &:last-child {
        border: 0;
    }
}
/*****Owl carousel*******/
.owl-dots {
    display: none;
}
.owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
}
.owl-nav button.owl-prev {
    left: 0;
}
.owl-nav button.owl-next {
    right: 0;
}

.owl-dots {
    text-align: center;
    padding-top: 15px;
}
.owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
}
.owl-dots button.owl-dot.active {
    background-color: #000;
}
.owl-dots button.owl-dot:focus {
    outline: none;
}
.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}
span {
    font-size: 70px;
    position: relative;
    top: -5px;
}
.owl-nav button:focus {
    outline: none;
}
/*****Mobile menu *******/
.icon-bar {
    width: 22px;
    height: 2px;
    background-color: #eb9b94;
    display: block;
    transition: all 0.2s;
    margin-top: 4px;
}

.navbar-toggler {
    border: none;
    background: transparent;
    padding: 7px 0 0 0;
    &:focus {
        outline: 0;
    }
}
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
.navbar-collapse {
    position: absolute;
    right: 20px;
    background: white;
    top: 75px;
    border: 1px solid #d4cccc;
    z-index: 999;
}
.d-lg-none {
    display: none;
}
.calc-text {
    max-width: 500px;
    margin: auto;
}
.owl-item .item img {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
        transform: scale(1.1);
        box-shadow: 10px 10px 8px #888888;
    }
}
.box-bg {
    background: #f5f5ef url(../images/bg.png) repeat;
}
.mobile {
    background: #f5f5ef url(../images/mobile.png) no-repeat;
    height: 260px;
    width: 500px;
    margin: auto;
    position: relative;
    video {
        position: absolute;
        top: 24px;
        left: 33px;
        width: 443px;
        height: 215px;
    }
}
.btn {
    min-width: 100px;
    font-size: 14px;
    padding: 1px 5px;
    border: 2px solid #000;
}
.primary-btn {
    background: #fff;
}
.sec-btn {
    background: #000;
    color: #fff;
    &:hover{
        color: #fff;
    }
}
.btn-wrapper {
    height: 0;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    height: 0;
    opacity: 0;
    overflow: hidden;
}
.course-img {
    max-width: 260px;
    margin: auto;
    &:hover .btn-wrapper {
        height: 70px;
        opacity: 1;
    }
}
.nav.nav-pills {
    justify-content: space-between;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link,
.nav-link {
    color: #000;
    background: #fff;
    font-family: leaguespartan;
    font-size: 24px;
    &:hover {
        text-decoration: underline;
        color: #000;
    }
}
.details-image {
    // width: 170px;
}
.course-tab-content {
    min-height: 250px;
    padding: 30px 20px;
}
/*******Corporation Solution**************/
.corp-soln {
    background: #eb9b94;
    color: #fff;
    padding: 35px 0;
}
.green-bg {
    min-height: 320px;
    background: url(../images/green-bg.png) no-repeat;
    background-size: cover;
    position: relative;
    .learn-text {
        color: #fff;
        font-size: 23px;
        max-width: 320px;
        font-family: leaguespartan;
        position: absolute;
        bottom: 0;
    }
}
.owl-slider {
    background: #fff;
    padding: 5px 15px;
}
.demo {
    padding: 5px 10px;
    border: 4px solid #000;
    min-width: 250px;
    font-family: leaguespartan;
    border-radius: 0;
}
/*********************/
@media only screen and (max-width: 800px) {
    footer.p-5{
        padding: 20px !important;
    }
    .mobile {
        background-size: contain;
        width: 350px;
    }
    .mobile video {
        width: 300px;
        height: 135px;    
    }
    .course-img {
        h6 {
            margin: 10px !important;
        }
    }
    .btn-wrapper {
        height: auto;
        opacity: 1;
    }
    .corp-soln {
        [class*="col-"]{
            padding: 25px 15px;
        }
    }
    .learn-text { 
        padding: 20px;
    }
    .owl-nav {
        display: block;
    }
    .header {
        display: block;
    }
    .d-lg-none {
        display: block;
    }
    .dotted-border {
        border: 0;
    }
    .d-xs-none {
        display: none;
    }
    .padding-y {
        padding-top: 20px;
    }
    [class*="col-"] {
        padding: 0 15px 15px 15px;
    }
    .row {
        margin: 0;
    }
    .view-course {
        min-height: 370px;
        .tablet {
            width: 330px;
            min-height: 280px;
            h1 {
                font-size: 26px;
            }
        }
    }
}
